.about-container {
    width: 95vw;
    height: 100vh;
    padding-top: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-container h1 {
    font-size: 4rem;
}

.profile-pic {
    width: 20vw;
    height: auto;
}

.about-text {
    width: 40vw;
    line-height: 20px;
    text-align: justify;
}

.about-text p {
    padding-bottom: 5vh;
}

@media screen and (max-width: 1240px) {
    .about-container {
        padding-top: 200px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .profile-pic {
        width: 30vw;
    }

    .about-text {
        margin: 0 auto;
        padding-top: 50px;
        width: 60vw;
        padding-bottom: 10vh;
    }

}